---
import "../styles/global.css";
import MainLayout from "../layouts/main";
import YoutubeLayout from "../layouts/ytmain";
import InstagramLayout from "../layouts/igmain";
import TiktokLayout from "../layouts/ttmain";
---

<div
  id="container"
  class="flex flex-col h-full w-screen justify-start bg-base-200"
>
  <MainLayout client:load />
  <YoutubeLayout client:load />
  <InstagramLayout client:load />
  <TiktokLayout client:load />
</div>
